@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/***************Base*********************/
$background-color: #091231;
$button-color: #5EDEFA;
$font-color: #0B194A;
/**************Jurassic******************/
$red-color: #ff2200;
$yellow-color: #FFF300;
$black-color: #000;
/************************************/



