.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-container{
    text-align: center;
    margin: 10%;
    border-radius: 5px;
    max-width: 400px;
    width: 400px;
    padding: 20px 40px;
    background-color: #20263B;
}

.box{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box h1{
    text-transform: uppercase;
    color: #fff;
}


.box input[type = "text"], .box input[type = "password"]{
    text-align: center;
    border: 0;
    border-radius: 5px;
    background: none;
    display: block;
    margin: 10px 0;
    padding: 10px 10px;
    background-color: #fff;
    width: 100%;
    color: #000;
    outline: 0;
}

.box input[type = "submit"]{
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: #091231;
    background-color: #3ae8e1;
    padding: 10px 20px;
}


.box input[type = "submit"]:active{
        outline: 0;
        transform: scale(0.98);
}