@import './base.scss';
@import './grid.scss';
@import './components.scss';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: $background-color;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6{
    color: #fff;
}




